/* Footer styles */
footer {
    background-color: #343a40;
    color: white;
    padding: 50px 0;
}

.footer-logo i {
    font-size: 48px;
    color: white;
}

.footer-social {
    margin-top: 20px;
}

.footer-icon {
    font-size: 24px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.footer-contact h6 {
    font-weight: bold;
    margin-top: 10px;
}

.footer-contact p {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-bottom {
    background-color: #292b2c;
    padding: 10px 0;
    text-align: center;
}

.copyright {
    font-size: 14px;
    color: white;
    margin: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .footer-logo i {
        font-size: 36px;
    }

    .footer-icon {
        font-size: 20px;
    }
}
/* Style for the specific col-md-4 element to align it to the right */
.col-md-4.align-right {
    justify-content: flex-end;
    text-align: right;
}



