/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Style de la section avec l'image de fond */
.section-with-background {
    background-image: url('/assets/img/section.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Pour couvrir toute la hauteur de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Texte en blanc pour un meilleur contraste */
}

/* Style du titre principal */
h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style du paragraphe */
p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Style de la deuxième section */
/* Style de la deuxième section */
#about {
    padding: 60px 0;
    background-color: #f8f9fa; /* Couleur de fond légère */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    text-align: center; /* Aligner le texte au centre */
}

/* Style de la colonne d'image dans la deuxième section */
.about-1 {
    display: flex;
    justify-content: flex-end; /* Aligner l'image à droite */
    align-items: center;
    padding-right: 10px; /* Ajouter un espace à droite pour l'image */
}

/* Style du texte dans la deuxième section */
.about-2 {
    text-align: right; /* Aligner le texte à droite */
}

/* Style du titre dans la deuxième section */


/* Style du pied de page */
footer {
    background-color: #343a40; /* Couleur de fond sombre */
    color: white;
    padding: 20px 0;
}

/* Style des icônes de médias sociaux dans le pied de page */
footer .fab {
    font-size: 24px;
    margin-right: 10px;
    color: white;
}

/* Style du texte du pied de page */
footer p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Style du copyright */
footer .text-muted {
    font-size: 12px;
}

/* Centrage horizontal du texte dans le pied de page */
footer .text-center {
    text-align: center;
}
