
  <section  class="d-flex justify-content-center flex-column align-items-center text-center " [style.background-image]="'url(/assets/img/section.jpg)'">

    <h2  color="black">#Knowus</h2>
   
    <p  color="black">Leave a message we are here for you</p>
  
  </section>

<section id="about" class="section-m1 section-p1">
<div class="container">
    <div class="row  mt-5">
        <div class="about-1 col-lg-6 col-md-12 mt-5">
          <img src="/assets/img/caisse.jpg" alt="" class="img-fluid h-auto">
        </div>
        <div class="about-2 col-lg-6 col-md-12 ps-5 mt-5 text-md-center text-sm-center ">
            <h2 class="fw-bold fs-1 text-md-center text-sm-center">Who we are ?</h2>
            <p class="p-about text-md-center text-sm-center">
              All Soft Multimédia est créée en 2007. ASM est une société spécialisée dans l’ingénierie logicielle, la création des sites Web, développement des applications mobile ainsi que les systèmes de points de vente tel que les caisses tactiles. Alors, nous sommes présents en Tunisie à Sfax, Sousse et Tunis, Algérie à Alger et au Sénégal à Dakar.

              Depuis sa création, ASM conçoit, réalise et maintien des services informatiques sur mesure. C’est pourquoi, nous assurons que notre travail soit effectué par une ressource humaine certifiée en ingénierie informatique.
              
              Notre travail est basé sur un ensemble d’activités, de la conception à la mise en œuvre, pour réaliser un service informatique, contrôler son bon fonctionnement et son adéquation au besoin. C’est aussi concevoir, développer et maintenir des applications destinées au grand public telles que les sites ou portails Web, des sites de commerce électronique, etc.
              
            </p>

            <abbr title="" class="mt-5">
              
              En effet, ASM analyse et spécifie les besoins et les exigences de ces clients. Par ailleurs, elle les accompagne aussi dans la création et l’exploitation de nouveaux services. Alors, elle renforce leurs avantages concurrentiels et leur leadership  
            </abbr>
            <marquee style="background-color: #ccc;"  loop="-1"  width="100%" scrollamount="5" class="mt-5" >
              All Soft Multimédia est créée en 2007. ASM est une société spécialisée dans l’ingénierie logicielle, la création des sites Web, développement des applications mobile ainsi que les systèmes de points de vente tel que les caisses tactiles. Alors, nous sommes présents en Tunisie à Sfax, Sousse et Tunis, Algérie à Alger et au Sénégal à Dakar.

              Depuis sa création, ASM conçoit, réalise et maintien des services informatiques sur mesure. C’est pourquoi, nous assurons que notre travail soit effectué par une ressource humaine certifiée en ingénierie informatique.
              
              Notre travail est basé sur un ensemble d’activités, de la conception à la mise en œuvre, pour réaliser un service informatique, contrôler son bon fonctionnement et son adéquation au besoin. C’est aussi concevoir, développer et maintenir des applications destinées au grand public telles que les sites ou portails Web, des sites de commerce électronique, etc. 
            </marquee>
        </div>
    </div>
</div>
</section>
<app-footer></app-footer>





     




       
     

