<div class="container-fluid">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage <b>Articles</b></h2>
          </div>
          <div class="col-sm-6">
            <a
              href="#addArticleModal"
              class="btn btn-success"
              data-toggle="modal"
              ><i class="material-icons">&#xE147;</i>
              <span>Add New Article</span>
            </a>
            <a
              href="#deleteArticleModal"
              class="btn btn-danger"
              data-toggle="modal"
              ><i class="material-icons">&#xE15C;</i> <span>Delete</span></a
            >
          </div>
        </div>
      </div>
      <div class="filter">
        <mat-form-field appearance="fill">
          <mat-label>Filter Articles</mat-label>
          <input matInput #filterInput />
        </mat-form-field>
      </div>
      <mat-paginator class="mat"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
      (page)="onPageSizeChange($event)"
    ></mat-paginator>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              <input type="checkbox" name="selectAll" id="selectAll" />
            </th>
            <th>Id_Article</th>
            <th>Designation_Article</th>
            <th>Id_Famille</th>
            <th>Id_Marque</th>
            <th>Id_Station</th>
            <th>DDPromotion</th>
            <th>DFPromotion</th>
            <th>Taux_Promotion</th>
            <th>Prix_Promotion</th>
            <th>Prix_TTC</th>
            <th>Image_Article</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let articleItem of getPaginatedItems()">
            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="articleItem.selected"
                  (change)="toggleArticleSelection(articleItem)"
                />
                <label class="form-check-label" for="flexCheckChecked"></label>
              </div>
            </td>

            <td>{{ articleItem.idArticle }}</td>
            <td>{{ articleItem.designationArticle }}</td>
            <td>{{ articleItem.idFamille }}</td>
            <td>{{ articleItem.idMarque }}</td>
            <td>{{ articleItem.idStation }}</td>
            <td>{{ articleItem.ddPromotion }}</td>
            <td>{{ articleItem.dfPromotion }}</td>
            <td>{{ articleItem.tauxPromotion }}</td>
            <td>{{ articleItem.prixPromotion }}</td>
            <td>{{ articleItem.prixTTC }}</td>
            <td>
              <!--<ng-container *ngIf="articleItem.imageArt; else noImage">
                <img [src]="articleItem.imageArt" alt="Article" />
              </ng-container>
              <ng-template #noImage>
                <p>Empty</p>
              </ng-template>-->
            </td>
            <td>
              <a
                href="#editArticleModal"
                class="edit"
                data-toggle="modal"
                data-target="#editArticleModal"
                (click)="openEditForm(articleItem)"
              >
                <i class="material-icons" data-toggle="tooltip" title="Edit"
                  >&#xE254;</i
                >
              </a>
              <a
                href="#deleteArticleModal"
                class="delete"
                data-toggle="modal"
                data-target="#deleteArticleModal"
                (click)="handleDeleteArticle(articleItem.idArticle!)"
              >
                <i class="material-icons" data-toggle="tooltip" title="Delete"
                  >&#xE872;</i
                >
              </a>
            </td>
          </tr>
        </tbody>
      </table>

   

      <div class="clearfix">
        <div class="hint-text">
          Showing <b>{{ (currentPage - 1) * itemsPerPage + 1 }}</b> to
          <b>{{ displayedItemCount }}</b> of <b>{{ totalItems }}</b> entries
        </div>
        <ul class="pagination">
          <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
            <a
              href="javascript:void(0);"
              class="page-link"
              (click)="onPageChange(currentPage - 1)"
            >
              Previous
            </a>
          </li>
          <li
            class="page-item"
            *ngFor="let page of getPaginationArray()"
            [ngClass]="{ active: currentPage === page }"
          >
            <a
              href="javascript:void(0);"
              class="page-link"
              (click)="onPageChange(page)"
            >
              {{ page }}
            </a>
          </li>
          <li
            class="page-item"
            [ngClass]="{ disabled: currentPage === getTotalPages() }"
          >
            <a
              href="javascript:void(0);"
              class="page-link"
              (click)="onPageChange(currentPage + 1)"
            >
              Next
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--Add Modal HTML-->
<div *ngIf="showForm" id="addArticleModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="mygroup" method="post" enctype="multipart/form-data">
        <div class="modal-header border-0">
          <h2 class="modal-title mt-3 ml-2">Add Article</h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="false"
          >
            &times;
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group d-flex justify-content-around">
            <mat-form-field appearance="outline">
              <mat-label>idArticle</mat-label>
              <input
                matInput
                type="text"
                placeholder=" Id_Article"
                formControlName="idArticle"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Designation</mat-label>
              <input
                matInput
                type="text"
                placeholder=" Designation_Article"
                formControlName="designationArticle"
              />
            </mat-form-field>
          </div>
          <div class="form-group d-flex justify-content-around">
            <mat-form-field appearance="outline">
              <mat-label>Famille</mat-label>
              <mat-select formControlName="idFamille">
                <mat-option *ngFor="let p of Familles" [value]="p.idFamille"
                  >{{ p.idFamille }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Marque</mat-label>
              <mat-select formControlName="idMarque">
                <mat-option *ngFor="let p of Marques" [value]="p.idMarque"
                  >{{ p.idMarque }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group d-flex justify-content-around">
            <mat-form-field appearance="outline">
              <mat-label>Station</mat-label>
              <mat-select formControlName="idStation">
                <mat-option *ngFor="let p of Stations" [value]="p.idStation"
                  >{{ p.idStation }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>prixTTC</mat-label>
              <input
                matInput
                type="text"
                placeholder=" Prix_TTC"
                formControlName="prixTTC"
              />
            </mat-form-field>
          </div>
          <div class="form-group d-flex justify-content-around">
            <mat-form-field appearance="outline">
              <mat-label>prixPromotion</mat-label>
              <input
                matInput
                type="text"
                placeholder=" Prix_Promotion"
                formControlName="prixPromotion"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>tauxPromotion</mat-label>
              <input
                matInput
                type="text"
                placeholder="Taux_Promotion"
                formControlName="tauxPromotion"
              />
            </mat-form-field>
          </div>
          <div class="form-group d-flex justify-content-around">
            <app-shared-datepicker
              formControlName="dfPromotion"
            ></app-shared-datepicker>
            <app-shared-datepicker
              formControlName="ddPromotion"
            ></app-shared-datepicker>
          </div>
        </div>
        <!-- <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload> -->
       <!-- <input type="file" formControlName="imageArt" />-->

        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input
            type="submit"
            class="btn btn-success"
            value="Add"
            (click)="createArticleFromHtml()"
            (click)="refreshTable()"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<!--Edit Modal HTML -->
<div id="editArticleModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="mygroup" (ngSubmit)="submit()">
        <div class="modal-header border-0">
          <h2 class="modal-title mt-3 ml-2">Edit Article</h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="false"
          >
            &times;
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group d-flex justify-content-around">
            <mat-form-field appearance="outline">
              <mat-label>idArticle</mat-label>
              <input
                matInput
                type="text"
                placeholder=" Id_Article"
                formControlName="idArticle"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>designationArticle</mat-label>
              <input
                matInput
                type="text"
                placeholder=" Designation_Article"
                formControlName="designationArticle"
              />
            </mat-form-field>
          </div>
          <div class="form-group d-flex justify-content-around">
            <mat-form-field appearance="outline">
              <mat-label>Famille</mat-label>
              <mat-select formControlName="idFamille">
                <mat-option *ngFor="let p of Familles" [value]="p.idFamille"
                  >{{ p.idFamille }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Marque</mat-label>
              <mat-select formControlName="idMarque">
                <mat-option *ngFor="let p of Marques" [value]="p.idMarque"
                  >{{ p.idMarque }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group d-flex justify-content-around">
            <mat-form-field appearance="outline">
              <mat-label>Station</mat-label>
              <mat-select formControlName="idStation">
                <mat-option *ngFor="let p of Stations" [value]="p.idStation"
                  >{{ p.idStation }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>prixTTC</mat-label>
              <input
                matInput
                type="text"
                placeholder=" Prix_TTC"
                formControlName="prixTTC"
              />
            </mat-form-field>
          </div>
          <div class="form-group d-flex justify-content-around">
            <mat-form-field appearance="outline">
              <mat-label>prixPromotion</mat-label>
              <input
                matInput
                type="text"
                placeholder=" Prix_Promotion"
                formControlName="prixPromotion"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>tauxPromotion</mat-label>
              <input
                matInput
                type="text"
                placeholder="Taux_Promotion"
                formControlName="tauxPromotion"
              />
            </mat-form-field>
          </div>
          <div>
            <div class="p-2">
              <mat-form-field style="width: 100%" appearance="fill" >
                <mat-label>Choose a date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="ddPromotion"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>

                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>

                <mat-datepicker
                  class="mat-calendar ng-tns-c92-0 ng trigger ng-trigger-fadeInCalendar"
                  #picker
                ></mat-datepicker>
              </mat-form-field>

              <app-shared-datepicker
                formControlName="dfPromotion"
              ></app-shared-datepicker>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input type="submit" class="btn btn-success" value="Edit" />
        </div>
      </form>
    </div>
  </div>
</div>
<!--Delete Modal HTML -->
<div
  *ngIf="deleteConfirmationVisible"
  id="deleteArticleModal"
  class="modal fade"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Delete Articles</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete these Records?</p>
          <p class="text-warning">
            <small>This action cannot be undone.</small>
          </p>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input
            type="submit"
            class="btn btn-danger"
            value="Delete"
            (click)="deleteArticle()"
            (click)="deleteSelectedArticles()"
          />
        </div>
      </form>
    </div>
  </div>
</div>
