.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.form-container {
  width: 40%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #df781c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cbfils-results {
  width: 55%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cbfils-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cbfils-row:hover {
  background-color: #f4f4f4;
}

.cbfils-row-details {
  display: flex;
  align-items: center;
}

.cbfils-row-label {
  font-weight: bold;
  margin-right: 5px;
}

.cbfils-row-action a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.cbfils-row-action a:hover {
  text-decoration: underline;
}

.fas.fa-trash {
  font-size: 20px;
  color: red;
}





