<div class="container-pers">
  <div class="main-content">
    <h1 class="title">Welcome back</h1>

    <form action="#" method="get">
      <div class="form-group">
        <label class="label-item" for="email">Email Address</label>
        <input
          class="input-item"
          type="text"
          id="email"
          name="email"
          title="email"
          placeholder="Example@gmail.com"
          required
        />
      </div>

      <div class="form-group">
        <label class="label-item" for="password">Password</label>
        <div>
          <input
            class="input-item"
            type="password"
            id="password"
            name="password"
            title="password"
            placeholder="*************"
            required
          />
          <img id="visibility" src="../../assets/non-visible.svg" alt="" />
        </div>
        <p class="forget-password"><a href="#">Forgotten Password?</a></p>
      </div>

      <input class="submit-button" type="submit" value="Log In" />
    </form>

    <div>
      <p class="seperator-text">OR</p>

      <div class="social-login">
        <a href="#" title="google"
          ><img src="../../assets/google.svg" alt=""
        /></a>
        <a href="#" title="apple"
          ><img src="../../assets/apple.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
</div>
