<!--<div class="content-container">
  <input type="text" [(ngModel)]="newMarque.idMarque" placeholder="Id_Marque" [style.margin-bottom.px]="10">
  <br>
  <input type="text" [(ngModel)]="newMarque.designationMarque" placeholder="Designation_Marque" [style.margin-bottom.px]="10">
  <br>
  <div class="button-container">
    <div class="button-container button">
  <button (click)="createMarque()" type="button" class="btn btn-success" [style.margin-right.px]="10">Ajouter </button>
  <button (click)="updateMarque()"type="button" class="btn btn-primary" [style.margin-right.px]="10">Modifier</button>
  <button type="button" class="btn btn-danger" [style.margin-right.px]="10">Supprimer</button>
</div>
<br>
<ul *ngFor="let m of Marques">
  <li>{{m?.idMarque}}<li>
  <li>{{m?.designationMarque}}<li>
</ul>
<div class="container allstudents-container">
  <table mat-table  class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{element.IdMarque}}</td>

    </ng-container> 
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef>Designation</th>
      <td mat-cell *matCellDef="let element">{{element.DesignationMarque}}</td>

    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; Columns: displayedColumns"></tr>
  </table>
</div>

<button (click)="createMarque()">Create New Marque</button>

<table>
  <thead>
    <th>idMarque</th>
    <th>DesignationMarque</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let m of Marques">
      <td>{{ m.idMarque }}</td>
      <td>{{ m.designationMarque }}</td>
      <td><<button class="nav-link" style="color:black" aria-current="page" (click)="scrollToFinPage()" (click)="edit(m)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-marque [marque]="marqueEdit" id="finPage" (marqueUpdated)="updatemarqueli($event)"></app-edit-marque>-->




<html>
<body class="bak">
<form #form="ngForm" (ngSubmit)="createMarque()" >
  <div >
   <div class="form-floating mb-3">
       <input  class="form-control" id="floatingInput" placeholder="Id-Marque" 
        name="marqueId" [(ngModel)]="createmarque.idMarque" ngModel  required #idMarque="ngModel" >
        <div class="alert-danger" *ngIf="idMarque.errors?.['required'] && idMarque.touched">
          Ce champ est obligatoire.
        </div><label class="col">*</label>
       <label for="floatingInput">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Id-Marque</label>
     </div>
     <div class="form-floating">
       <input type="tex" class="form-control" id="floatingPassword" name="marqNom" placeholder="Designation-Marque"[(ngModel)]="createmarque.designationMarque">
       <label for="floatingPassword">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designation-Marque</label>
     </div>
     <br>
     <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="reloadPage()">Ajouter</button>&nbsp;&nbsp;&nbsp;
     <button type="button" class="btn btn-success" [disabled]="form.invalid "(click)="updateMarque()"(click)="reloadPage()">Modifier</button>&nbsp;&nbsp;&nbsp; 
     <button type="button" class="btn btn-danger" [disabled]="form.invalid"(click)="deleteMarque()"(click)="reloadPage()">Supprimer</button>&nbsp;&nbsp;&nbsp;
   </div>
 </form><br><br>

 
 
 <div *ngFor=" let m of Marques" class="dd">
<b>ID-MARQUE &nbsp;&nbsp;&nbsp; :   </b><p>{{m.idMarque }}</p><br>
<b>NOM-MARQUE:</b><p>{{m.designationMarque}}</p>
 <h5> <button class="nav-link" style="color:black" aria-current="page" (click)="scrollToFinPage()" (click)="edit(m)">Edit</button>
 </h5> <br>
</div>
<br><br>

    <br><br  id="finPage">

    <br >
    <app-edit-marque [marque]="marqueEdit"  id="finPage" (marqueUpdated)="updatemarqueli($event)"></app-edit-marque>
    
    <br >

    <br><br>

    <br><br>
</body>
    </html>