<div *ngIf="marque" class="di">
  <div>
      <label for="floatingPassword">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Id-Marque</label>
      
<input  [(ngModel)]="marque.idMarque" class="form-control" >

  </div>
  <div>
      
      <label for="floatingPassword">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designation-Marque</label> 
<input  [(ngModel)]="marque.designationMarque" class="form-control" id="floatingPassword">

  </div>
  <div><br>
      &nbsp;&nbsp;&nbsp;<button (click)="updateMarque(marque)" *ngIf="marque.idMarque"class="btn btn-success"(click)="reloadPage()">Enregistrer</button>&nbsp;&nbsp;&nbsp;
<button  (click)="deleteMarque(marque)" *ngIf="marque.idMarque"class="btn btn-danger"(click)="reloadPage()">Supprimer</button></div> 


</div>

  
  
