
<div class="mt-5">
  <h1 class="text-center">View Familles</h1>
  <div class="container">
    <!--Add User Button-->
    <div class="my-3">
      <a routerLink="/famille/add" class="btn btn-primary">
        Add Famille
      </a>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Designation</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let famille of familles">
            <td>{{ famille.idFamille }}</td>
            <td>{{ famille.designationFamille }}</td>
            <td>
              <div class="d-flex justify-content-center">
                <button
                  class="btn btn-warning mx-2"
                  (click)="updateFamille(famille)"
                >
                  Edit
                </button>
                <button
                  class="btn btn-danger"
                  (click)="deleteFamille(famille.idFamille!)"
                >
                  Delete
                </button>
              </div>
            </td>
          </tr>
          </tbody></table>
          </div>
          </div>
          </div>

