<div class="my-5">
  <div class="mx-auto w-50" style="max-width: 100%">
    <h2 class="text-center mb-4">Update Famille</h2>
    <form [formGroup]="form" (ngSubmit)="submit()" class="update-form">
      <div class="mb-3">
        <label for="idFamille" class="form-label">ID Famille</label>
        <input
          id="idFamille"
          formControlName="idFamille"
          type="text"
          name="idFamille"
          class="form-control"
          placeholder="Enter ID Famille"
          required
        />
      </div>
      <div class="mb-3">
        <label for="designationFamille" class="form-label">Designation Famille</label>
        <input
          id="designationFamille"
          formControlName="designationFamille"
          type="text"
          name="designationFamille"
          class="form-control"
          placeholder="Enter Designation Famille"
         
        />
      </div>

      <div class="mb-3">
        <button
         
          class="btn btn-primary w-100"
          type="submit"
          value="Submit"
          
        >
          Add Famille
        </button>
      </div>
    </form>
  </div>
</div>

