@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "primeicons/primeicons.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

.modal-backdrop {
  z-index: 400 !important;
}


.mat-mdc-paginator-range-actions {
  display: none !important;
}

a {
  list-style-type: none !important;
  text-decoration: none !important;
}