<div class="home-container">
  <div>
    <header class="heading">
      <h1>Vérificateur de <span>Prix</span></h1>
      <p>Obtenez les meilleurs prix pour vos produits préférés.</p>
    </header>

    <!-- Search box -->
    <div class="search-box">
      <div>
        <input
          type="text"
          id="productId"
          class="input"
          [(ngModel)]="productId"
          placeholder="Rechercher un produit par ID..."
          (keyup.enter)="checkPrice()"
          autofocus
        />
        <button (click)="checkPrice()"><span class="material-symbols-outlined">
          arrow_forward_ios
          </span></button>
      </div>
      <p class="input-error" *ngIf="!searched">{{ message }}</p>
    </div>
    <!-- End search box -->

    <!-- Results -->
    <div class="results" *ngIf="searched">
      <!-- Success result -->
      <div class="result-success" *ngIf="!message">
        <div class="product-image">
          <img [src]="result.imageArt" alt="article" />
        </div>

        <div class="product-details">
          <p><span>Designation:</span> {{ result.designationArticle }}</p>
          <p><span>Taux De Promotion:</span> {{ result.prixPromotion }} %</p>
          <p><span>Prix Promotion:</span> {{ result.prixPromotion }} €</p>
        </div>
      </div>

      <!-- Failed Result -->
      <div class="result-failed" *ngIf="message">
        <img src="../../assets/animated-icons/caution.gif" class="" alt="">
        <p>{{ message }}</p>
      </div>
    </div>
    <!-- End results -->
  </div>
</div>
