.home-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: Linear-gradient(to right, #ff9500, #ffd06b);
}

.home-container > div {
  padding: 60px 85px;
  border-radius: 30px;
  background-color: white;
}

.heading {
  margin: 0;
  padding: 0;
}

.heading h1 {
  color: grey;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  text-transform: capitalize;
}

.heading > h1 > span {
  color: orange;
}

.heading p {
  color: #555;
  color: transparent;
  background-image: Linear-gradient(to top right, #ff9500, #ffd06b);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 3px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #007bff;
  border-radius: 4px;
  width: 300px;
  margin-right: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  font-family: "Arial", sans-serif;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  font-family: "Helvetica", sans-serif;
}

button:hover {
  background-color: #0056b3;
}

.results {
  border-radius: 8px;
}

.result-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-image {
  width: 50%;
  height: 100%;
  background-color: red;
  object-position: center;

  /* object-fit: contain; */
}
/* 
.product {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.product:last-child {
  border-bottom: none;
} */

/* .product-image {
  width: 80px;
  height: 80px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 1rem;
  flex-shrink: 0;
}

.product-details {
  flex: 1;
} */

.no-results {
  animation: fadeIn 1s ease;
  color: #d9534f;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

@keyframes fadeIn {
  0% {
    display: none;
    height: 0;
    opacity: 0;
  }

  100% {
    display: block;
    height: 160px;
    opacity: 1;
  }
}
