.home-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: Linear-gradient(to right, #ff9500, #ffd06b);
}

.home-container > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 55px 75px;
  border-radius: 30px;
  background-color: white;
}

.heading {
  margin: 0;
  padding: 0;
}

.heading h1 {
  color: grey;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  text-transform: capitalize;
}

.heading > h1 > span {
  color: orange;
}

.heading p {
  color: #555;
  color: transparent;
  background-image: Linear-gradient(to top right, #ff9500, #ffd06b);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 3px;
  margin: 0;
}

.search-box > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.input {
  grid-column: span 3;
  border: 2px solid gray;
  border-radius: 30px;
  outline: none;
  padding: 16px 26px;
  box-shadow: inset 0 2px 4px 0 #555;
}

.input::placeholder {
  opacity: 0.6;
}

.input-border-error {
  border: 2px solid rgba(255, 0, 0, 0.567);
}

.input-error {
  color: red;
  font-size: 12px;
  margin: 0;
}

button {
  background-color: #ff9500;
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  animation: slide 1.125s alternate-reverse infinite;
}

button:hover {
  color: #ff9500;
  background-color: #fff;
  border: 1px solid #ff9500;
}

.results {
  overflow: hidden;
  animation: fadeIn 1.125s ease;
  height: 162px;
}

.result-success {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.product-details {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-details > p {
  margin: 0;
  color: #ff9500;
  text-transform: uppercase;
  font-size: 16px;
}

.product-details > p > span {
  font-weight: 500px;
  color: gray;
}

.product-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.product-image > img {
  width: 7rem;
  height: 7.5rem;
  border-radius: 30px;
}

.result-failed {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 162px;
}

.result-failed > img {
  width: 130px;
  height: 130px;
}

.result-failed > p {
  color: grey;
}

@keyframes fadeIn {
  0% {
    display: none;
    height: 0;
    opacity: 0;
  }
  100% {
    display: block;
    height: 162px;
    opacity: 1;
  }
}

@keyframes slide{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}
